.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: beige;
}


.each {
  border: solid 5px black;
  border-radius: 10px;
  background-color: rgb(0, 149, 255);
  width: 20vw;
  margin: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

